@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active{
    color: white;
    background-color: green;
}
.drawer-side a{
    background-color: rgb(0, 69, 0);
    margin-bottom: 15px;
}
